<div class="search-container">
<div class="search-controller">
<div class="search-header">
<h1 class="search-for">Get Inspired</h1>
</div>
<div class="search-form">
<%= form_for :search, url: search_inspos_path do |f| %>
  <%= f.text_field :term %>
  <%= f.submit "Search Images" %>
</div>
<% end %>
</div>
</div>




