<h1 class="welcome_header">EVENT ME</h1>
<div class="show">
  <div class="info">
    <h2 class="welcome_name">Welcome back <%= @user.name %></h2>
    <p class="welcome_email">Account: <%=@user.email %></p>
  </div>
</div>
