/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self 
 *= require material_icons
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Atma:600|Codystar|Domine|Satisfy|Open+Sans+Condensed:300|Boogaloo');

body {
	width: 100%;
	height: 100%;
}

.nav-header {
	width: 99vw;
	height: 8vh;
	background-color: #1C197D;
	padding: 3px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #302D54;
-webkit-box-shadow:0px 1px 1px #de1dde;
 -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow:0px 1px 1px #de1dde;
  
}

.nav-links a {
	text-decoration: none;
	text-transform: capitalize;
	color: white;
	display: flex;
}

.nav-links-main a:hover {
	color: #0e0b16;
}

.nav-links {
	width: 15vw;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
}

#nav-name {
	color: white;
	display: inline;
	float: left;
}

.landing {
	width: 99vw;
	height: 35vw;
	background-color: #433d93;
	text-align: center;
}

.landing_text {
	position: absolute;
	margin: 0 auto;
	text-align: center;
}

.landing_header {
	color: white;
}

.landing img {
	display: inline;
	width: 49vw;
}

.login-form {
	width: 20vw;
	height: 33vh;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-bottom: 7px;
	padding-bottom: 5px;
	margin-top: 5px;
	/*border: 1px solid black;
	border-radius: 50%;*/
}

#log {
	
	padding: 5px;
	justify-content: space-between;
}

#sign {

	padding: 5px;
}

input {
	padding: 5px;
	margin: 3px;
	border-radius: 5px;
}

#main-header {
	font-family: 'Boogaloo', cursive;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 3px;
}

#main-header a {
	color: white;
}

a:hover {
	color: #0e0b16;
	text-decoration: none;
}

.main-title {
	font-family: 'Atma', cursive;
	color: white;
	margin-left: 3px;
	padding: 1px;
}

p {
	font-family: 'Domine', serif;
}