// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-list {
	display: flex;
	width: 90vw;
	height: 90vh;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	margin: 0 auto;
	flex-wrap: wrap;
	overflow: overlay;
}

.friend-info {
	width: 22vw;
	height: 21vh;
	background-color: #8F83A6 ;
	margin-top: 10px;
	border-radius: 12px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 7px 7px grey;

};

.card-title {
	text-align: center;
}

.friend-dob {
	margin: 2px;
}

.birthday-info {
	background: linear-gradient(141deg, #A95B7C 0%, #E3AE43 51%, #F3DF4D 75%);
	width: 28vw;
	height: 33vh;
	border-radius: 12px;
	box-shadow: 10px 10px 5px grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	positon: absolute;
}

.bday-controller {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	text-align: center;
	
}

.card-title a {
	color: white;
	text-decoration: none;
	border-bottom-style: 2px solid gray;
	font-family: 'Boogaloo', cursive;
	font-size: 33px;
	padding: 2px;
}

.card-title a:hover {
	color: #0e0b16;
}

#bday-highlight {
	font-size: 18px;
	color: gold;
}

.friend-container {
	display: flex;
	width: 25vw;
	margin-top: -3%;
}

.time {
	text-align: center;
}

.show {
	width: 90 vw;
	height: 90vh;
	display: flex;
	margin: 0 auto;
	align-items: center;
}

#name {
	font-family: 'Boogaloo', cursive;
	font-size: 40px;
}

.show-friend-info {
	width: 90vw;
	height: -webkit-fill-available;
	margin: 0 auto;
	text-align: center;

}


.show-card-title {
	width: 72vw;
	height: 97vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 2px solid #0e0b16;
  box-shadow: 10px 10px grey;
  margin: 0 auto;
  margin-top: 3%;
  overflow: scroll;
  padding-bottom: 5px;
}

.card-footer {
	width: 50vw;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3%;
}


.footer-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 5px;
	margin-bottom: 5%;
}

.show-image img{
	border-radius: 12px;
	margin: 2px;
}

button {
	margin-bottom: 5px;
}

.form-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.new-friend {
	font-family: 'Boogaloo', cursive;
	text-align: center;
}

.btn {
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;

}

.material-icons add {
	font-size: 42px;
}


